*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;

}

header{
    display: flex;

    color: white;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: none;
    padding: 6px;
    transition: all 0.4s linear;
    border-radius: 16px;
}

.menu:hover{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    background-color: #ccc;
    color: #333;
    font-weight: 600;
    border-radius: 16px;
}


nav{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}

nav ul{
    align-content: space-between;
    margin: 18px;
    padding: 21px;
    list-style: none;
}

nav ul a{
    color: white;
    justify-content: space-between;
    display:inline-block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 16px;
}

nav ul a:hover{
    font-weight: 600;   
    background-color: rgba(70, 81, 99, 0.884);
    border-radius: 16px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    background-color: beige;
    padding: 16px 21px;
}

section{
    flex: 70%;
    padding: 16px 21px;
}

footer{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color:  rgba(233, 233, 233, 0.801);
}

.a{
    color: black;
    padding: 3px;
    text-decoration: none;
}

.AFXS{
    font-size: .8em;
    color: rgb(68, 67, 67);
}


@media (max-width: 700px) {
    header{
        flex-direction: column;
    }

    nav ul a{
        color: white;
        justify-content: space-between;
        display:block;
        padding: 6px;
        transition: all 0.4s linear;
        border-radius: 16px;
    }

    .menu{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin-bottom: 21px;
        transition: all 0.4s linear;
        border-radius: 16px;
    }

    nav ul{
        display: none;
    }

    nav ul.show{
        display: block;
    }
}